h2 {
    font-size: 100px;
}

.welcome {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%)
}

.generator {
    margin-top: 30px;
}

.container {
    display: flex;
    width: 100%;
    justify-content: center;
    position: fixed;
    bottom: 0;
    margin-bottom: 500px;
}

.box {
    border: solid 2px rgb(121, 0, 0);
    background: rgb(121, 0, 0);
    color: white;
    width: 20%;
    margin: 10px;
    text-align: center;
    vertical-align: text-top;
}


.show {
    display:none;
}
